<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/site.css" />

    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <h1><%= header %></h1>

        <div class="row">
            <!-- Products -->
        </div>
    </div>

    <div class="ActionLog">
        <ul class="ActionLog__list">
            <li class="ActionLog__item d-flex align-items-center pt-3">
                <span class="Arrows">
                    <i class="Arrows__arrow"></i>
                    <i class="Arrows__arrow"></i>
                    <i class="Arrows__arrow"></i>
                </span>

                <span class="pl-3">This is an item in the log</span>
            </li>

            <li class="ActionLog__item d-flex pt-3">
                <span class="Arrows">
                    <i class="Arrows__arrow"></i>
                    <i class="Arrows__arrow"></i>
                    <i class="Arrows__arrow"></i>
                </span>

                <span class="pl-3">This is another item in the log</span>
            </li>
        </ul>
    </div>
</body>
</html>
