.ActionLog {
  margin-top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-right: solid 1px $gray-200;
  background: white;
  z-index: 2;

  .ActionLog__list {
    list-style-type: none;

    .ActionLog__item {
      @include monospace();
    }
  }
}
